# Ignore arquivos de build e dependências
bin/
obj/
.vscode/
*.log
node_modules/
.env
.DS_Store
Thumbs.db
*.sln.docstates
*.sln.ide
DocumentLayout.json
DocumentLayout.backup.json
.vs/
*.dll
*.pdb
*.exe
ref/
*.cache
*.json
*.vsix
*.user
*.suo
*.AssemblyInfo.cs
*.AssemblyReference.cache
*.csproj.*
*.userosscache
*.db
*.db-journal
*.jfm
loopback://localhost/*
[Dd]ebug/
[Rr]elease/
[xX]64/
[xX]86/
[Aa]ssets/
[Bb]in/
[Oo]bj/