# Ignore arquivos de build e dependências
bin/
obj/

# Visual Studio Code
.vscode/

# Configurações específicas do usuário
*.user
*.suo

# Arquivos de log
*.log

# Dependências do Node.js
node_modules/

# Arquivos de ambiente
.env

# Sistemas operacionais
.DS_Store
Thumbs.db

*.dll
*.exe

/bin/
/obj/

*.suo
*.user
*.sln.docstates
